<%= content_for :title, 'Photos' %>
<%= render partial: 'shared/nav', locals: { active: 'photos' } %>
<main class="photos">
  <header class="my-4">
    <h1 class="text-center text-primary mb-3">FrankenKopter Rotorway Photos</h1>
  </header>
  <div class="container">
    <ul class="row justify-content-around list-unstyled">
      <% @images.each do |img| %>
        <li class="col-lg-4 col-md-6 col-sm-12 mb-5">
          <a href="#">
            <%= image_tag "photos/#{img}", class: 'd-block w-100 thumb' %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</main>
<div class="overlay d-none"></div>
<div class="image-modal d-none">
  <button id="modal-close" type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <img src="" alt="" id="image">
</div>
<%= render partial: 'shared/footer' %>
<%= javascript_pack_tag 'image_modal.js' %>
