<%= javascript_pack_tag 'application' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<%= render partial: 'admin/shared/small_nav' %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admin/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Testimonials / Edit</span>
        </h1>
      </header>
      <section class="bg-light p-3 mb-3">
        <%= form_with model: @testimonial, url: admin_testimonial_path(@testimonial), method: :patch, local: true do |f| %>
          <% if @testimonial.errors.present? %>
            <section class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <%= button_tag(type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {label: 'Close'}) do %>
                <%= content_tag :span, aria: {hidden: 'true'} do %>
                  &times;
                <% end %>
              <% end %>
              <% error_count = @testimonial.errors.count %>
              <h4 class="lead bold">
                The following <%= pluralize(error_count, 'error') %>
                prevented your testimonial from being saved:
              </h4>
              <ul>
                <% @testimonial.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </section>
          <% end %>
          <section class="row">
            <dl class="col-sm">
              <dt>Full Name:</dt>
              <dd><%= @testimonial.creator.titleize %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Email Address:</dt>
              <dd><%= @testimonial.creator_email %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Submitted:</dt>
              <dd><%= format_datetime(@testimonial.created_at) %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Published:</dt>
              <% if @testimonial.published == true %>
                <dd class="text-success"><%= @testimonial.published %></dd>
              <% else %>
                <dd class="text-danger"><%= @testimonial.published %></dd>
              <% end %>
            </dl>
            <dl class="col-sm-12">
              <dt>
                <%= f.label 'testimonial[published]', 'Publish?' %>
              </dt>
              <dd>
                <%= f.select :published, options_for_select([['Yes', true], ['No', false]], @testimonial.published) %>
              </dd>
            </dl>
            <dl class="col-sm-12">
              <dt>Highlight:</dt>
              <dd>
                <% if @testimonial.highlight %>
                  <%= link_to 'Edit highlight?',  edit_admin_testimonial_highlight_path(@testimonial) %>
                <% else %>
                  <%= link_to 'Add a highlight!',   new_admin_testimonial_highlight_path(@testimonial) %>
                <% end %>
              </dd>
            </dl>
          </section>
          <hr class="my-2">
          <section class="row">
            <dl class="col-sm">
              <dt>Testimonial:</dt>
              <dd>
                <%= f.rich_text_area :message, class: ('field_with_errors' if @testimonial.errors.keys.include?(:message)) %>
              </dd>
            </dl>
          </section>
          <hr class="pb-2">
          <section class="form-actions">
            <%= f.submit 'Update', class: 'btn btn-outline-secondary col-lg-2' %>
            <%= link_to 'Delete', admin_testimonial_path(@testimonial), method: :delete, class: 'btn btn-outline-danger col-lg-2' %>
          </section>
        <% end %>
      </section>
    </main>
  </div>
</div>
