<%= render partial: 'shared/nav', locals: { active: 'accounts' } %>
<main class="partial-60 my-5">
  <section class="border border-top-0 rounded-bottom shadow p-4 my-3">
    <h1 class="mb-4 text-primary">Change your password</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <dl class="row form-group">
        <dt class="col-sm-12">
          <%= f.label :password, "New password" %>
        </dt>
        <dd class="col-sm-12 col-lg-7">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
        </dd>
        <dd class="col-sm-12">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </dd>
      </dl>

      <dl class="row form-group">
        <dt class="col-sm-12">
          <%= f.label :password_confirmation, "Confirm new password" %>
        </dt>
        <dd class="col-sm-12 col-lg-7">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </dd>
      </dl>

      <div class="form-actions">
        <%= f.submit "Update password", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
  </section>
</main>
<%= render partial: 'shared/footer' %>
