<nav id="landing-nav" class="navbar navbar-expand-lg navbar-dark sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to root_path, class: 'nav-link' do %>
          Home
          <span class="sr-only">(current)</span>
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to 'About', about_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to 'Testimonials', testimonials_path, class: 'nav-link' %>
      </li>

      <% if user_signed_in? && current_user.admin? %>
        <li class="nav-item">
          <%= link_to 'Dashboard', admin_root_path, class: 'nav-link' %>
        </li>
      <% end %>

      <% if user_signed_in? && current_user.admin? %>
        <%= render partial: 'shared/search_dropdown', locals: { active: 'active' } %>
      <% end %>

      <% if user_signed_in? %>
        <%= render partial: 'shared/signed_in_dropdown', locals: { active: 'home' } %>
      <% else %>
        <%= render partial: 'shared/signed_out_dropdown', locals: { active: 'home' } %>
      <% end %>
    </ul>
  </div>
  <div class="navbar-nav pull-right">
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, id: "sign-out-btn", class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
</nav>

<main id="landing-page">
  <section id="callout" class="jumbotron">
    <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'pull-right btn btn-outline-primary'  %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: 'pull-right btn btn-outline-primary' %>
    <% end %>

    <div class="cta text-center">
      <%= link_to '#services', class: 'text-center d-inline-block' do %>
        <h1 class="display-5 text-center">
          FRANKENKOPTER<br>
          <span>PERFORMANCE</span><br>
          <span>ENGINEERING</span>
        </h1>
      <% end %>
      <p class="mt-5 mb-0 lead text-center bold">
        Integrated Aircraft Performance Solutions
      </p>
      <p class="lead text-center bold">
        release the real potential of your aircraft
      </p>
    </div>
    <%= link_to '#services' do %>
      <%= fa_icon 'angle-double-down' %>
    <% end %>
  </section>

  <section id="services">
    <h2 class="text-center ally-lines my-4">Services</h2>
    <ul class="mx-auto">
      <li class="services-card text-center shadow">
        <span>
          <%= fa_icon 'times' %>
        </span>
        <h3>Rotorway</h3>
        <p>
          We offer a variety of custimizations for rotorway helicopters. Our
          offerings include: full engine overhauls, hydraulic lifters, forged
          internals, turbo systems, upgraded stand alone ECUs with custom tuning
          and upgraded ignition systems
        </p>
      </li>

      <li class="services-card text-center shadow">
        <span>
          <%= fa_icon 'paper-plane' %>
        </span>
        <h3>Fixed Wing</h3>
        <p>
          Currently we offer new ignition upgrades for Kitfox with future turbo
          packages in the works. We are willing to preform other custimizations
          of any experimental aircraft, just contact us with what you have and
          what you would like done!
        </p>
      </li>

      <li class="services-card text-center shadow">
        <span>
          <%= fa_icon 'truck' %>
        </span>
        <h3>Shipping</h3>
        <p>
          We offer fleet quality transport to ship your aircraft in a completely
          encolsed trailer by means of a semi truck and a qualified and
          experienced CDL rated driver.
        </p>
      </li>

      <li class="services-card text-center shadow">
        <span>
          <%= fa_icon 'laptop' %>
        </span>
        <h3 class="h4">Dyno Tuning</h3>
        <p>
          We provide custom ecu tuning on our in-house dyno. This allows for
          greater power gains over factory settings all while providing a safe
          and conservative tune for your airfract engine.
        </p>
      </li>
    </ul>
  </section>

  <section id="contact" class="text-center">
    <h2 class="text-white mb-5">Density Altitude or Lack of POWER Got you DOWN?</h2>
    <section class="density-altitude">
      <h3 class="mb-0">Current Density Altitude for <span class="location"></span></h3>
      <p class="mt-1 h1 bold"></p>
      <p class="mb-0 small">Last Updated <span><span></p>
      <p class="small mb-0">Density Altitude is an approximation</p>
      <%= link_to 'https://darksky.net/poweredby/', class: 'small d-block mt-2', target: '_blank' do %>
        Powered By Dark Sky
      <% end %>
    </section>
    <h3 class="h4 mt-5 text-white ally-lines-white">Shoot us a line and we will get you up and flying in no time</h3>
    <div class="row w-75 mx-auto my-2 justify-content-center">
      <%= link_to "tel:7192513973", class: "col-sm-12 col-md-2 text-primary mx-0 my-2" do %>
        <%= fa_icon 'phone', class: 'd-block h2 mb-0' %>
        719-251-3973
      <% end %>

      <%= link_to contact_path, class: "col-sm-12 col-md-2 text-primary my-2 mx-0" do %>
        <%= fa_icon 'envelope', class: 'd-block h2 mb-0' %>
        Email
      <% end %>

      <%= link_to 'https://www.facebook.com', class: "col-sm-12 col-md-2 text-primary my-2 mx-0", target: "_blank" do %>
        <%= fa_icon 'facebook-square', class: 'd-block h2 mb-0' %>
        Facebook
      <% end %>

      <%= link_to 'https://www.instagram.com/kaseykoch55/', class: "col-sm-12 col-md-2 text-primary my-2 mx-0", target: "_blank" do %>
        <%= fa_icon 'instagram', class: 'd-block h2 mb-0' %>
        Instagram
      <% end %>
    </div>
  </section>

  <% unless @highlights.empty? %>
    <section id="highlights" class="text-center py-4">
      <h2 class="ally-lines mb-4">
        <%=link_to 'What Our Customers Are Saying', testimonials_path %>
      </h2>
      <div id="highlights-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @highlights.each_with_index do |h, idx| %>
            <% t = h.testimonial %>

            <% if idx == 0 %>
              <div class="carousel-item active">
                <dl>
                  <dt></dt>
                  <dd><%= image_tag("https://www.gravatar.com/avatar/#{t.creator_avatar_url}&s=100", class: 'mb-3 avatar') %></dd>
                </dl>
                <dl>
                  <dt></dt>
                  <dd><%= h.highlight %></dd>
                  <dd>- <em><%= t.creator %></em> -</dd>
                </dl>
              </div>
            <% else %>
              <div class="carousel-item">
                <dl>
                  <dt></dt>
                  <dd><%= image_tag("https://www.gravatar.com/avatar/#{t.creator_avatar_url}&s=100", class: 'mb-3 avatar') %></dd>
                </dl>
                <dl>
                  <dt></dt>
                  <dd><%= h.highlight %></dd>
                  <dd><em>- <%= t.creator %></em> -</dd>
                </dl>
              </div>
            <% end %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#highlights-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#highlights-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
  <% end %>

  <section id="partners" class="text-center py-5">
    <h2 class="mb-4 text-center ally-lines">Partners</h2>
    <%= link_to 'http://www.sdsefi.com/', target: "_blank" do %>
      <%= image_tag('sdslogo.jpg') %>
    <% end %>
  </section>
</main>

<input type="hidden" name="ip" value="<%= @ip %>">

<%= render partial: 'shared/footer' %>
