<%= javascript_pack_tag 'application' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admin/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Testimonials / Highlights / Edit</span>
        </h1>
      </header>
      <section class="bg-light p-3 mb-3">
        <%= form_for @highlight, url: admin_testimonial_highlight_path(@testimonial), method: :patch, remote: false do |f| %>
          <% if @highlight.errors.present? %>
            <section class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <%= button_tag(type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {label: 'Close'}) do %>
                <%= content_tag :span, aria: {hidden: 'true'} do %>
                  &times;
                <% end %>
              <% end %>
              <% error_count = @highlight.errors.count %>
              <h4 class="lead bold">
                The following <%= pluralize(error_count, 'error') %>
                prevented your highlight from being created:
              </h4>
              <ul>
                <% @highlight.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </section>
          <% end %>
          <section class="row">
            <dl class="col-sm">
              <dt>Full Name:</dt>
              <dd><%= @testimonial.creator.full_name.titleize %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Email Address:</dt>
              <dd><%= @testimonial.creator.email %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Submitted:</dt>
              <dd><%= format_datetime(@testimonial.created_at) %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Published:</dt>
              <% if @testimonial.published == true %>
                <dd class="text-success"><%= @testimonial.published %></dd>
              <% else %>
                <dd class="text-danger"><%= @testimonial.published %></dd>
              <% end %>
            </dl>
          </section>
          <section class="row">
            <dl class="col-sm-12">
              <dt class="mb-3">Original Testimonial:</dt>
              <dd>
                <%= @testimonial.message.body %>
              </dd>
            </dl>
          </section>
          <section class="row">
            <dl class="col-sm-12">
              <dt class="mb-3">
                <%= label_tag 'testimonial[testimonial_highlight]' do %>
                  Highlight:
                  <span>(Truncated Version)</span>
                <% end %>
              </dt>
              <dd>
                <%= f.rich_text_area :highlight, class: ('field_with_errors' if @highlight.errors.keys.include?(:highlight)) %>
              </dd>
            </dl>
            <p id="characters_remaining" class="text-success"></p>
          </section>
          <hr>
          <section class="row container">
            <%= f.submit 'Update', class: 'btn btn-outline-secondary' %>
          </section>
        <% end %>
      </section>
    </main>
  </div>
</div>
<script>
  var $REMAINING = $('#characters_remaining');
  var TOTAL = 150;
  var EDITOR = $('trix-editor').get(0);
  var highlight = {
    init: function() {
      this.bindEvents();
      this.calculateCount(EDITOR);
    },
    bindEvents: function() {
      $('trix-editor').on('trix-change', this.calculateCount.bind(this));
    },
    calculateCount: function() {
      const { editor } = EDITOR
      const string = editor.getDocument().toString()
      const characterCount = string.length - 1
      this.changeRemainingCount(characterCount)
    },
    changeRemainingCount: function(count) {
      const charsRemaining = TOTAL - count;
      $REMAINING.text('(' + charsRemaining + ' ' + this.pluralize('Character', charsRemaining) + ' Remaining)');
      this.toggleClass(charsRemaining);
    },
    pluralize: function(string, count) {
      if (count === 1 || count === -1) {
        return string;
      } else {
        return string + "s";
      }
    },
    toggleClass: function(charsRemaining) {
      if (charsRemaining >= 0) {
        $REMAINING.toggleClass('text-success', true);
        $REMAINING.toggleClass('text-danger', false);
      } else {
        $REMAINING.toggleClass('text-success', false);
        $REMAINING.toggleClass('text-danger', true);
      }
    }
  };

  setTimeout(highlight.init(), 1000);
</script>
