<% content_for :title, 'Edit Highlight' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<%= render partial: 'admin/shared/small_nav' %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admin/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Testimonials / Highlights / Edit</span>
        </h1>
      </header>
      <section class="bg-light p-3 mb-3">
        <%= form_with model: @highlight, url: admin_testimonial_highlight_path(@testimonial), method: :patch, local: :true do |f| %>
          <% if @highlight.errors.present? %>
            <section class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <%= button_tag(type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {label: 'Close'}) do %>
                <%= content_tag :span, aria: {hidden: 'true'} do %>
                  &times;
                <% end %>
              <% end %>
              <% error_count = @highlight.errors.count %>
              <h4 class="lead bold">
                The following <%= pluralize(error_count, 'error') %>
                prevented your highlight from being created:
              </h4>
              <ul>
                <% @highlight.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </section>
          <% end %>
          <section class="row">
            <dl class="col-sm">
              <dt>Full Name:</dt>
              <dd><%= @testimonial.creator.titleize %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Email Address:</dt>
              <dd><%= @testimonial.creator_email %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Submitted:</dt>
              <dd><%= format_datetime(@testimonial.created_at) %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Published:</dt>
              <% if @testimonial.published == true %>
                <dd class="text-success"><%= @testimonial.published %></dd>
              <% else %>
                <dd class="text-danger"><%= @testimonial.published %></dd>
              <% end %>
            </dl>
          </section>
          <section class="row">
            <dl class="col-sm-12">
              <dt class="mb-3">Original Testimonial:</dt>
              <dd>
                <%= @testimonial.message.body %>
              </dd>
            </dl>
          </section>
          <section class="row">
            <dl class="col-sm-12">
              <dt class="mb-3">
                <%= label_tag 'testimonial_highlight' do %>
                  Highlight:
                  <span>(Truncated Version)</span>
                <% end %>
              </dt>
              <dd>
                <%= f.rich_text_area :highlight, id: 'testimonial_highlight', class: ('field_with_errors' if @highlight.errors.keys.include?(:highlight)) %>
              </dd>
            </dl>
            <p id="characters_remaining" class="text-success"></p>
          </section>
          <hr>
          <section class="form-actions">
            <%= f.submit 'Update', class: 'btn btn-outline-primary mb-2 col-lg-2' %>

            <button type="button" class="btn btn-outline-danger col-lg-2" data-toggle="modal" data-target="#highlight-<%= @highlight.id %>">
              Delete
            </button>
            <div class="modal fade" id="highlight-<%= @highlight.id %>" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modal-title-<%= @testimonial.id %>">Are you sure you want to delete this highlight?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    This action can't be undone
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <%= link_to 'Delete', admin_testimonial_highlight_path(@testimonial), method: :delete, class: "btn btn-outline-danger" %>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <% end %>
      </section>
    </main>
  </div>
</div>
<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag 'text_counter' %>
