<%= javascript_pack_tag 'application' %>
<%= render partial: 'shared/nav', locals: { active: 'accounts' } %>
<main class="partial-60 my-5">
  <%= render partial: 'devise/shared/sub_nav', locals: { active: 'testimonial' } %>
  <section class="border border-top-0 rounded-bottom shadow px-4">
    <h1 class="py-3 text-primary text-center">My Testimonial</h2>
    <%= form_with model: @testimonial, url: users_testimonial_path, method: :patch, local: true do |f| %>
      <% if @testimonial.errors.present? %>
        <section class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
          <%= button_tag(type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {label: 'Close'}) do %>
            <%= content_tag :span, aria: {hidden: 'true'} do %>
              &times;
            <% end %>
          <% end %>
          <% error_count = @testimonial.errors.count %>
          <h4 class="lead bold">
            The following <%= pluralize(error_count, 'error') %>
            prevented your testimonial from being updated:
          </h4>
          <ul>
            <% @testimonial.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </section>
      <% end %>
      <%= f.rich_text_area :message, class: ('field_with_errors' if @testimonial.errors.keys.include?(:message)) %>
      <div class="form-actions mt-5">
        <%= f.submit 'Update', class: "mb-2 btn btn-outline-secondary" %>
        <button type="button" class="mb-2 btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
          Delete
        </button>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-center">
                Are you sure you want to delete your testimonial?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <%= link_to 'Delete', users_testimonial_path, method: :delete, class: 'btn btn-outline-danger' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "Cancel", :back, class: 'd-block mb-3' %>
    <% end %>
  </section>
</main>
<%= render partial: 'shared/footer' %>
