<% content_for :title, 'Testimonials' %>
<%= render partial: 'shared/nav', locals: { active: 'testimonials' } %>
<main class="container">
  <header class="testimonial-header text-center mt-4">
    <h1 class="text-primary pb-0 mb-0">TESTIMONIALS</h1>
    <hr class="break">
    <p class="lead">See what people are saying about us!</p>
  </header>
  <section id="testimonials" class="card-columns mt-5">
    <% @testimonials.each do |testimonial| %>
      <section class="card shadow border rounded p-4 my-3 text-center">
        <%= image_tag("https://www.gravatar.com/avatar/#{testimonial.creator_avatar_url}&s=80", class: 'avatar mx-auto') %>
        <p class="text-center mt-1 mb-3"><strong><em><%= testimonial.creator.titleize %></em></strong></p>
        <%= fa_icon 'quote-right', class: 'testimonial-quote'%>
        <%= testimonial.message %>
      </section>
    <% end %>
  </section>
  <nav aria-label="page navigation">
    <ul class="pagination justify-content-center">
      <% if @current_page == 1 %>
        <li class="page-item disabled">
          <%= link_to testimonials_path(:page => @current_page - 1), class: "page-link", aria: {label: "Previous"} do %>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          <% end %>
        </li>
      <% else %>
        <li class="page-item">
          <%= link_to testimonials_path(:page => @current_page - 1), class: "page-link", aria: {label: "Previous"} do %>
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          <% end %>
        </li>
      <% end %>
      <% (@records_count / 10.0).ceil.times do |n| %>
        <% if @current_page == n + 1 %>
          <li class="page-item active" %>
            <%= link_to n + 1, testimonials_path(:page => n + 1), class: "page-link" %>
        <% else %>
          <li class="page-item" %>
            <%= link_to n + 1, testimonials_path(:page => n + 1), class: "page-link" %>
          </li>
        <% end %>
      <% end %>
      <% if @current_page < (@records_count / 10.0).ceil %>
        <li class="page-item">
          <%= link_to testimonials_path(:page => @current_page + 1), class: "page-link", aria: {label: "Next"} do %>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          <% end %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <%= link_to testimonials_path(:page => @current_page + 1), class: "page-link", aria: {label: "Next"} do %>
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="backdrop">
    <%= link_to nil, id: "modal-close"  do %>
      <%= fa_icon 'times'%>
    <% end %>
  </div>
  <figure id="lightbox-image" class="full-size-image">
    <img src="">
    <figcaption class="attachment__caption">
    </figcaption>
  </figure>
</main>
<div class="bottom">
  <%= render partial: 'shared/footer' %>
</div>
<%= javascript_pack_tag 'lightbox' %>
