= content_for :title, 'New Testimonial'
= javascript_pack_tag 'application'
= render partial: 'shared/nav', locals: { active: '' }
%main
  %section.bg-light.partial-60.shadow.rounded.px-4.my-4
    %div.row
      %div.col-sm-12.mt-4
        %h1.mb-1.text-primary LEAVE A TESTIMONIAL
        %p.lead
          We appreciate your feedback
          %span.bold #{@user.full_name.titleize}
          !
    - if @testimonial.errors.present?
      %div.alert.alert-danger.alert-dismissible.fade.show{role: 'alert'}
        = button_tag(type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {label: 'Close'}) do
          = content_tag :span, aria: {hidden: 'true'} do
            &times;
        - error_count = @testimonial.errors.count
        %h4.lead.bold The following #{pluralize(error_count, 'error')} prevented your Testimonial from being saved:
        %ul
          - @testimonial.errors.full_messages.each do |msg|
            %li= msg
    %div.row.mt-3
      = form_with url: new_user_testimonial_path, method: 'post', scope: 'testimonial', local: true, class: 'col' do |f|
        %div.form-row.mb-3.mt-3
          = hidden_field_tag :token, @user.testimonial_token
          = hidden_field_tag :creator_avatar_url, @user.avatar_url
          = hidden_field_tag :creator, @user.full_name
          = hidden_field_tag :creator_email, @user.email
          %div.col
            = f.rich_text_area :message, placeholder: 'Message and Images', id: 'testimonial_message', class: ('field_with_errors' if @testimonial.errors[:message].present?)
        %hr
        %div.form-row.mt-3.mb-5
          = invisible_recaptcha_tags ui: :input, text: 'Submit', class: 'col-sm-2 btn btn-primary'
= render partial: 'shared/footer'
