<% content_for :title, 'Emails' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<%= render partial: 'admin/shared/small_nav' %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admin/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Emails</span>
        </h1>
        <% if @order == 'desc' %>
          <%= link_to admin_emails_path(:page => @current_page, :order => 'asc'), class: 'btn btn-sm btn-outline-secondary'  do %>
            <%= fa_icon 'caret-up', class: 'pr-1' %>
            Sort By Ascending
          <% end %>
        <% else %>
          <%= link_to admin_emails_path(:page => @current_page, :order => 'desc'), class: 'btn btn-sm btn-outline-secondary'  do %>
            <%= fa_icon 'caret-down', class: 'pr-1' %>
            Sort By Descending
          <% end %>
        <% end %>
      </header>
      <section class="bg-light p-3 mb-3">
        <% if @records_count == 0 %>
          <h2 class="h4">You don't have any stored emails!</h2>
        <% else %>
          <%= form_with url: destroy_multiple_admin_emails_path(@email, :page => @current_page, :order => @order), method: :delete, local: :true do |f| %>
            <% @emails.each do |email| %>
              <dl class="row container">
                <dt class="col-lg-auto">Email:</dt>
                <dd class="col-lg-auto"><%= email.email %></dd>
                <dt class="col-lg-auto">Name:</dt>
                <dd class="col-lg-auto"><%= email.full_name %></dd>
                <dt class="col-lg-auto">Sent:</dt>
                <dd class="col-lg-auto"><%= format_datetime(email.created_at) %></dd>
              </dl>
              <div class="row">
                <div class="col-sm-12">
                  <%= check_box_tag "emails[#{email.id}]", true %>
                  <%= link_to 'View', admin_email_path(email), class: "btn btn-sm btn-outline-secondary ml-2" %>
                  <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#email-<%= email.id %>">
                    Delete
                  </button>
                  <div class="modal fade" id="email-<%= email.id %>" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modal-title-<%= email.id %>">Are you sure you want to delete this email?</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          This action can't be undone
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                          <%= link_to 'Delete', admin_email_path(email, :page => @current_page, :order => @order), method: :delete, class: 'btn btn-outline-danger' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
            <% end %>
            <%= f.submit 'Delete Selected', class: "btn btn-outline-danger" %>
          <% end %>
        <% end %>
      </section>
      <% unless @records_count == 0 %>
        <%= render partial: 'admin/shared/pagination' %>
      <% end %>
    </main>
  </div>
</div>
