<% content_for :title, 'Email' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<%= render partial: 'admin/shared/small_nav' %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admin/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Emails / Show</span>
        </h1>
      </header>
      <section class="bg-light p-3 mb-3">
        <section class="row">
          <dl class="col-sm">
            <dt>Full Name:</dt>
            <dd><%= @email.full_name.titleize %></dd>
          </dl>
          <dl class="col-sm">
            <dt>Email Address:</dt>
            <dd><%= @email.email %></dd>
          </dl>
          <dl class="col-sm">
            <dt>Phone Number</dt>
            <% if @email.phone_number %>
              <dd><%= @email.phone_number %></dd>
            <% else %>
              <dd>None Provided</dd>
            <% end %>
          </dl>
          <dl class="col-sm">
            <dt>Sent:</dt>
            <dd><%= format_datetime(@email.created_at) %></dd>
          </dl>
        </section>
        <hr class="my-4">
        <section class="row">
          <dl class="col-sm">
            <dt>Message:</dt>
            <dd class="px-5 pt-5"><%= @email.message %></dd>
          </dl>
        </section>
        <hr class="my-4">
        <button type="button" class="btn btn-outline-danger col-lg-2" data-toggle="modal" data-target="#email-<%= @email.id %>">
          Delete
        </button>
        <div class="modal fade" id="email-<%= @email.id %>" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modal-title-<%= @email.id %>">Are you sure you want to delete this email?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                This action can't be undone
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <%= link_to 'Delete', admin_email_path(@email), method: :delete, class: 'btn btn-outline-danger' %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
