<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span><%= current_user.full_name.titleize %> (Admin)</span>
      <%= fa_icon 'plus-circle' %>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to admins_path, class: 'nav-link active' do %>
          <%= fa_icon 'home' %>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to nil, class: 'nav-link' do %>
          <%= fa_icon 'credit-card' %>
          Payments
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_emails_path(current_user), class: 'nav-link' do %>
          <%= fa_icon 'envelope' %>
          Emails
          <span class="badge badge-primary badge-pill pull-right"><%= @email_count %></span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to nil, class: 'nav-link' do %>
          <%= fa_icon 'pencil' %>
          Testimonials
          <span class="badge badge-primary badge-pill pull-right">1</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to nil, class: 'nav-link' do %>
          <%= fa_icon 'users' %>
          Customers
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to nil, class: 'nav-link' do %>
          <%= fa_icon 'folder-open' %>
          Reports
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_sidekiq_web_path(current_user), class: 'nav-link' do %>
          <%= fa_icon 'database' %>
          Queue
        <% end %>
      </li>
    </ul>
  </div>
</nav>
