= javascript_pack_tag 'application'
= render partial: 'shared/nav', locals: { active: 'contact' }
= render partial: 'shared/flash_notice'
%section.bg-light
  %div.container
    - if @email.errors.present?
      %ul.alert.alert-danger
        %h4 Please fix the following #{pluralize(@email.errors.count, 'error')}:
        - @email.errors.full_messages.each do |msg|
          %li= msg
    %div.row
      %div.col-sm-12.mt-5
        %span.eyebrow.mb-1.text-primary GET IN TOUCH WITH US
        %h2 We'll get back to you as soon as possible.
    %div.row.mt-3
      = form_with model: @email, local: true, class: 'col' do |f|
        %div.form-row.mb-3
          %div.col-sm-12.col-md
            = f.text_field :full_name, class: 'form-control form-control-minimal', placeholder: 'Full Name'
          %div.col-sm-12.col-md
            = f.text_field :email, class: 'form-control form-control-minimal', placeholder: 'Email'
          %div.col-sm-12.col-md
            = f.text_field :phone_number, class: 'form-control form-control-minimal', placeholder: 'Phone Number'
        %div.form-row.mb-3.mt-5
          %div.col
            = f.rich_text_area :message, placeholder: 'Message'
        %hr
        %div.form-row.mt-3.mb-5
          = f.submit 'Submit', class: 'col-sm-2 btn btn-primary'
