<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<%= render partial: 'admin/shared/small_nav' %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admin/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Customers</span>
        </h1>
        <% if @order == 'desc' %>
          <%= link_to admin_customers_path(:page => @current_page, :order => 'asc'), class: 'btn btn-sm btn-outline-secondary'  do %>
            <%= fa_icon 'caret-up', class: 'pr-1' %>
            Ascending (First Name)
          <% end %>
        <% else %>
          <%= link_to admin_customers_path(:page => @current_page, :order => 'desc'), class: 'btn btn-sm btn-outline-secondary'  do %>
            <%= fa_icon 'caret-down', class: 'pr-1' %>
            Descending (First Name)
          <% end %>
        <% end %>
      </header>
      <section class="bg-light p-3 mb-3">
        <% if @records_count == 0 %>
          <h2 class="h4">You don't have any customers!</h2>
        <% else %>
          <% @customers.each do |customer| %>
            <section class="row">
              <dl class="col-sm-12 col-md">
                <dt>Full Name</dt>
                <dd class="emphasize"><%= customer.full_name%></dd>
              </dl>
              <dl class="col-sm-12 col-md">
                <dt>Email</dt>
                <dd><%= customer.email %></dd>
              </dl>
              <% if customer.phone_number %>
                <dl class="col-sm-12 col-md">
                  <dt>Phone Number</dt>
                  <dd><%= customer.phone_number %></dd>
                </dl>
              <% end %>
              <dl class="col-sm-12">
                <dt>Testimonial Completed</dt>
                <% if customer.testimonial %>
                  <dd>True</dd>
                <% else %>
                  <dd>False</dd>
                <% end %>
              </dl>
              <% unless customer.testimonial %>
                <%= link_to 'Send testimonial link', admin_path(customer.id), method: :post, class: "col-sm-12" %>
              <% end %>
            </section>
            <hr class="mb-4">
          <% end %>
        <% end %>
      </section>
      <% unless @records_count == 0 %>
        <%= render partial: 'admin/shared/users_pagination' %>
      <% end %>
    </main>
  </div>
</div>
