<%= javascript_pack_tag 'application' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admins/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Testimonials / Show</span>
        </h1>
      </header>
      <section class="bg-light p-3 mb-3">
        <%= form_for @testimonial, url: admin_testimonial_path(current_user, @testimonial), method: :patch do |f| %>
          <% if @testimonial.errors.present? %>
            <section class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <%= button_tag(type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {label: 'Close'}) do %>
                <%= content_tag :span, aria: {hidden: 'true'} do %>
                  &times;
                <% end %>
              <% end %>
              <% error_count = @testimonial.errors.count %>
              <h4 class="lead bold">
                The following <%= pluralize(error_count, 'error') %>
                prevented your testimonial from being updated:
              </h4>
              <ul>
                <% @testimonial.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </section>
          <% end %>
          <section class="row">
            <%= f.hidden_field :highlight %>
            <%= f.hidden_field :created_by %>
            <dl class="col-sm">
              <dt>Full Name:</dt>
              <dd><%= @testimonial.creator.full_name.titleize %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Email Address:</dt>
              <dd><%= @testimonial.creator.email %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Submitted:</dt>
              <dd><%= format_datetime(@testimonial.created_at) %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Published:</dt>
              <% if @testimonial.published == true %>
                <dd class="text-success"><%= @testimonial.published %></dd>
              <% else %>
                <dd class="text-danger"><%= @testimonial.published %></dd>
              <% end %>
            </dl>
          </section>
          <section class="row">
            <dl class="col-sm-12">
              <dt class="mb-3">
                <%= label_tag 'testimonial[testimonial_highlight]' do %>
                  Testimonial:
                <% end %>
              </dt>
              <dd>
                <%= f.rich_text_area :message, value: @testimonial.message, class: ('field_with_errors' if @testimonial.errors.keys.include?(:message)) %>
              </dd>
            </dl>
            <p id="characters_remaining" class="text-success"></p>
          </section>
          <hr class="my-4">
          <section class="row">
            <%= f.submit 'Update', class: 'btn btn-outline-secondary col-lg-2' %>
            <%= link_to 'Cancel', admin_testimonial_path(current_user, @testimonial), class: 'btn btn-outline-secondary col-lg-2' %>
          </section>
        <% end %>
      </section>
    </main>
  </div>
</div>
