<%= javascript_pack_tag 'application' %>
<%= render partial: 'shared/nav', locals: { active: 'dashboard'} %>
<div class="container-fluid">
  <div class="row">
    <%= render partial: 'admins/shared/side_nav' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <header class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          Dashboard
          <span class="lead">/ Testimonials / Show</span>
        </h1>
      </header>
      <section class="bg-light p-3 mb-3">
        <%= form_for @testimonial, url: admin_testimonial_path(current_user, @testimonial), method: :patch do |f| %>
          <% if @testimonial.errors.present? %>
            <section class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
              <%= button_tag(type: 'button', class: 'close', data: {dismiss: 'alert'}, aria: {label: 'Close'}) do %>
                <%= content_tag :span, aria: {hidden: 'true'} do %>
                  &times;
                <% end %>
              <% end %>
              <% error_count = @testimonial.errors.count %>
              <h4 class="lead bold">
                The following <%= pluralize(error_count, 'error') %>
                prevented your email from being sent:
              </h4>
              <ul>
                <% @testimonial.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </section>
          <% end %>
          <section class="row">
            <dl class="col-sm">
              <dt>Full Name:</dt>
              <dd><%= @testimonial.user.full_name.titleize %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Email Address:</dt>
              <dd><%= @testimonial.user.email %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Submitted:</dt>
              <dd><%= format_datetime(@testimonial.created_at) %></dd>
            </dl>
            <dl class="col-sm">
              <dt>Published:</dt>
              <% if @testimonial.published == true %>
                <dd class="text-success"><%= @testimonial.published %></dd>
              <% else %>
                <dd class="text-danger"><%= @testimonial.published %></dd>
              <% end %>
            </dl>
            <dl class="col-sm-12">
              <dt>
                <%= label_tag 'testimonial[created_by]' do %>
                  Created By:
                  <span>(publically viewed)</span>
                <% end %>
              </dt>
              <dd>
                <%= f.text_field :created_by, value: format_name(@testimonial.user.full_name), class: 'bg-light'%>
              </dd>
            </dl>
            <dl class="col-sm-12">
              <dt>
                <%= label_tag 'testimonial[published]', 'Publish?' %>
              </dt>
              <dd>
                <%= f.select :published, options_for_select([['Yes', true], ['No', false]], @testimonial.published) %>
              </dd>
            </dl>
          </section>
          <hr class="my-2">
          <section class="row">
            <dl class="col-sm">
              <dt>Message:</dt>
              <dd class="px-5 pt-5"><%= @testimonial.message %></dd>
            </dl>
          </section>
          <hr class="my-4">
          <section class="row">
            <dl class="col-sm-12">
              <dt class="mb-3">
                <%= label_tag 'testimonial[testimonial_highlight]' do %>
                  Highlight:
                  <span>(Truncated Version)</span>
                <% end %>
              </dt>
              <dd>
                <%= f.rich_text_area :highlight, value: @testimonial.highlight, class: ('field_with_errors' if @testimonial.errors.keys.include?(:highlight)) %>
              </dd>
            </dl>
            <p id="characters_remaining" class="text-success"></p>
          </section>
          <hr class="my-4">
          <section class="row">
            <%= f.submit 'Update', class: 'btn btn-outline-secondary col-lg-2' %>
            <%= link_to 'Delete', admin_testimonial_path(current_user, @testimonial), method: :delete, class: 'btn btn-outline-danger col-lg-2' %>
          </section>
        <% end %>
      </section>
    </main>
  </div>
</div>
<script>
  const $REMAINING = $('#characters_remaining');
  const TOTAL = 150;
  const EDITOR = $('trix-editor').get(0);
  const testimonial = {
    init: function() {
      this.bindEvents();
      this.calculateCount(EDITOR);
    },
    bindEvents: function() {
      $('trix-editor').on('trix-change', this.calculateCount.bind(this));
    },
    calculateCount: function() {
      const { editor } = EDITOR
      const string = editor.getDocument().toString()
      const characterCount = string.length - 1
      this.changeRemainingCount(characterCount)
    },
    changeRemainingCount: function(count) {
      const charsRemaining = TOTAL - count;
      $REMAINING.text('(' + charsRemaining + ' ' + this.pluralize('Character', charsRemaining) + ' Remaining)');
      this.toggleClass(charsRemaining);
    },
    pluralize: function(string, count) {
      if (count === 1 || count === -1) {
        return string;
      } else {
        return string + "s";
      }
    },
    toggleClass: function(charsRemaining) {
      if (charsRemaining >= 0) {
        $REMAINING.toggleClass('text-success', true);
        $REMAINING.toggleClass('text-danger', false);
      } else {
        $REMAINING.toggleClass('text-success', false);
        $REMAINING.toggleClass('text-danger', true);
      }
    }
  };

  testimonial.init();
</script>
