<!DOCTYPE html>
<html>
  <head>
    <title>FrankenKopter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="search-bar" class="navbar navbar-dark">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <img src="#" width="30" height="30" alt="">
        FrankenKopter
      <% end %>
      <form class="form-inline">
        <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <%= fa_icon 'search' %>
        </button>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
