<!DOCTYPE html>
<html>
  <head>
    <title><%= 'FrankenKopter' + (' || ' + yield(:title) unless yield(:title).blank?).to_s %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% javascript_pack_tag 'navbar.js' %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>
    <%= render partial: 'shared/flash_notice' %>

    <nav id="search-bar" class="navbar navbar-dark">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <span>FrankenKopter</span>
      <% end %>
      <% if current_user && current_user.admin %>
        <%= form_with url: admin_search_path, method: :get, local: :true, id: 'search-form', class: 'form-inline' do |f| %>
          <%= f.search_field :q, placeholder: 'Search', class: 'form-control mr-1', :aria => { :label => 'Search' } %>
          <%= f.button nil, class: 'btn btn-outline-success my-2 my-sm-0', type: 'submit' do %>
            <%= fa_icon 'search' %>
          <% end %>
        <% end %>
      <% end %>
    </nav>

    <%= yield %>

  </body>
</html>
