<!DOCTYPE html>
<html>
  <head>
    <title>RailsFrankenKopter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="search-bar" class="navbar navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="#" width="30" height="30" alt="">
        FrankenKopter
      </a>
      <form class="form-inline">
        <input class="form-control mr-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    <!--
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign In</a>
        </li>
      </ul>
    </nav>
    -->
    <%= yield %>
  </body>
</html>
